* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* allows us to include the padding and border in an element's total width and height. */
    --main-bg-color: rgb(238, 247, 255);
    
  }

  body{
    background-color: var(--main-bg-color);
  }